.tab-container {
  justify-content: center;
  border-radius: 31px/32px;
  width: 13rem;
  height: 3.7rem;
  cursor: pointer;
  filter: drop-shadow(black 2px 2px 3px);
  font-family: "Alkalami";
  font-size: small;
}
.tab-container:hover {
  box-shadow: 0 5px 15px rgba(209, 198, 198, 0.4);
}
.tab-container:active {
  filter: drop-shadow(black -1px -2px 5px);
}
.modal-letter {
  text-align: start;
}
.name {
  font-size: 13.5px;
  font-family: "Alkami";
  font-weight: bolder;
  padding-top: 0.1rem;
}

.clickFont {
  font-size: 11px;
  opacity: 68%;
}
